# --- Deno ---
deno_dir/
.cache/
.deno/

# --- TypeScript ---
dist/
build/
out/

# Emit aus einzelnen Dateien
*.js
*.js.map

# --- Editor / IDE ---
# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json

# JetBrains
.idea/

# --- System Dateien ---
.DS_Store
Thumbs.db

# --- Logs ---
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Sonstiges ---
.env
*.local

Funktionalität.md
