############################
# Deno
############################

# Lokale Deno-Artefakte (optional, selten genutzt)
.deno/

# Environment
.env
.env.*

############################
# Build / Output (nur falls vorhanden)
############################

/dist/
/build/
/out/

############################
# Dependencies (nur wenn npm: genutzt wird)
############################

node_modules/

############################
# Logs
############################

*.log

############################
# OS / Editor
############################

# macOS
.DS_Store

# Windows
Thumbs.db

############################
# VS Code
############################

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

############################
# Tests / Coverage (optional)
############################

coverage/
.nyc_output/

############################
# Cache (falls Tools sie anlegen)
############################

.cache/


############################
# Sonstiges
############################

/other/

backpost.conf.json
