services:
  db:
    image: postgres:18
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespassword
      POSTGRES_DB: testdb
    volumes:
      - db-data:/var/lib/postgresql
      - ./init_db:/docker-entrypoint-initdb.d:ro
    ports:
      - "5432:5432"

volumes:
  db-data:
